$background-color: azure;
$background-color-secondary: beige;
$background-color-tertiary: rgb(220, 245, 153);
$background-color-fourth: black;
$background-color-fifth: rgba(245, 245, 220, 0.534);
$background-color-sixth: rgba(192, 255, 20, 0.295);
$background-color-seventh: rgb(214, 214, 181);