footer{
    text-align: center;
    background-color: beige;
    padding: 20px 0;
}

.footer{
    margin-top: auto;
    padding: 1%;
    
    .redes{
        display: flex;
    }
}

.footer_instagram, .footer_facebook, .footer_twitter, .footer_whatsapp{
    display: inline-block;
    margin: 0.25%;
    padding: 0.25%;
    border-radius: 10%;
    background-color: $background-color-tertiary;
}