.menu_hamburguesa{
    display: none;
}
.dropdown-item{
    background-color: $background-color-seventh;
}
.nav-link{
    background-color: $background-color-seventh;
    border: 1px black solid;
    border-radius: 5%;
}
.header_style{
    text-align: center;
    background-color: $background-color-secondary;
    padding: 1.5%;
    font-family: Roboto Mono;
}
.ul_style{
    justify-content: center;
    align-items: center;
    display: flex;
    list-style: none;
    gap: 5px;
}
.a_style{
    border: 1px rgb(132, 161, 65) solid;
    display: inline-block;
    gap: 2%;
    background-color: $background-color-tertiary;
    border-radius: 10%;
}
.a_style:link{
    color: $background-color-fourth;
    text-decoration: none;
}
.a_style:visited{
    color: $background-color-fourth;
}
.titulo_preguntas_frecuentes{
    text-align: center;
}