.main_acerca_nosotros{
    padding: 10%;
    font-family: Roboto Mono;
    .acerca_nosotros{
        align-items: center;
        text-align: center;
        display: flex;
    }
    .acerca_de_nosotros_texto_uno{
        display: inline-block;
        vertical-align: top;
        bottom: -100px;
    }
    .foto_acerca_de_nosotros{
        width: 50%;
        height: 50%;
    }
    .acerca_nosotros_dos{
        align-items: center;
        text-align: center;
        display: flex;
    }
    .foto_acerca_de_nosotros_dos{
        width: 50%;
        height: 50%;
    }
    .acerca_de_nosotros_texto_dos{
        display: inline-block;
        vertical-align: top;
        bottom: -150px;
    }
}