.header_style{
    text-align: center; 
    background-color: $background-color-secondary;
    padding: 1.5%;
    font-family: Roboto Mono;
}

.textos_main{
    background-color: $background-color-fifth;
    padding: 20px;
    display: inline-block;
    font-family: Roboto Mono;
}

.main_acerca_nosotros{
    padding: 10%;
    font-family: Roboto Mono;
}

.preguntas_respuestas{
    text-align: center;
    font-family: Roboto Mono;
}